@import "sass/colors.scss";
@import "sass/grid.scss";

.App {
  text-align: center;

  .navbar-brand {
    h1 {
      font-size: 1.8rem;
      display: inline-block;

      svg:first-of-type {
        margin-right: 1rem;
      }

      svg:last-of-type {
        margin-left: 1rem;
      }
    }
  }

  .nav-item.status {
    margin-left: 1rem;
  }

  .jumbotron {
    padding: 2.5rem;
    padding-bottom: 2rem;
    p {
      padding-right: 25%;
      padding-left: 25%;
    }
    @media (max-width: $grid-sm) {
      p {
        padding-right: 5%;
        padding-left: 5%;
        font-size: 1rem;
      }
    }
  }

  .blink_me {
    animation: blinker 2s linear infinite;
  }

  .b {
    color: $rer;
    font-weight: bold;
  }

  @media (max-width: $grid-sm) {
    .navbar-brand h1 {
      font-size: 1.1rem;
    }
    .jumbotron {
      margin-bottom: 0;
    }
    #content {
      padding-top: 0;
    }
  }

  #content {
    padding-top: 2rem;
    padding-bottom: 4rem;

    .slider > .row > .col-12 > .row {
      height: 5em;
      padding-top: 3.5em;
      padding-bottom: 3.5em;
    }

    @media (max-width: $grid-sm) {
      .slider {
        margin-bottom: 3.5rem;
      }
    }

    .over,
    .under {
      padding-top: 2rem;
      @media (max-width: $grid-sm) {
        padding-top: 0;
        .separator-bottom {
          margin-bottom: 1rem;
        }
        button {
          width: 100%;
        }
      }
    }

    .tooltip {
      .fa-info-circle {
        margin-right: .7rem;
      }
    }

    .separator-bottom {
      margin-bottom: 2rem;
    }

    .rc-slider-mark-text {
      font-size: 225%;
    }

    .rc-slider-mark-text {
      font-size: 400%;
    }

    .results-mood {
      h1 {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
      .badge-pill {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }
    }
  }

  @media (max-width: $grid-sm) {
    #content {
      padding-top: 0;
    }
  }

  footer {
    text-align: left;
    background-color: $light-grey;
    height: auto;
    font-size: 80%;
    a {
      color: #495057;
      font-weight: bold;
    }
    ul {
      padding-left: 0;
      li,
      button {
        display: inline;
        font-weight: bold;
        margin-left: 1rem;
      }
      li:first-of-type {
        margin-left: 0;
      }
    }
    p {
      display: block;
      width: 100%;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
