$success: #28a745;
$warning: #ffc107;
$danger: #dc3545;
$rer: #007bff;
$soft-grey: #f5f5f5;
$light-grey: #f7f7f7;
$light-black: #282c34;


.success {
  color: $success;
}

.warning {
  color: $warning;
}

.danger {
  color: $danger;
}

.void {
  color: $light-black;
}
